.card {
  width: 200px;
  height: 240px;
  background-color: #000000;
  margin: 5px;
  /* border-top-left-radius: 30px;
  border-top-right-radius: 30px; */
}
.card img {
  width: 200px;
  height: 228px;
  object-fit: cover;
  /* border-top-left-radius: 30px;
  border-top-right-radius: 30px; */
  position: relative;
  border: solid 1px rgb(80, 79, 79);
}

.card:hover {
  border: 20px solid #3f3f3f;
  background-color: #3f3f3f;
}
