.modal {
    display: flex; 
    justify-content: center;
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
  }
  
  .modal-content {
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis; /* Optional: to show "..." for long messages */
    white-space: nowrap; /* Optional: to prevent wrapping */
  }
  